<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript" src="./js/vue.js"></script>
</head>

<body>
    <div id="root">
        <form @submit.prevent="demo">
            account: <input type="text" v-model.trim="userInfo.account">
            <br>
            <br>
            password: <input type="password" v-model="userInfo.password">
            <br>
            <br>
            age: <input type="number" v-model="userInfo.age">
            <br>
            <br>
            gender: <input type="radio" v-model="userInfo.gender" value="male">male <input type="radio" v-model="userInfo.gender" value="female">female
            <br>
            <br>
            hobbies: <input type="checkbox" v-model="userInfo.hobbies" value="study">study <input type="checkbox" v-model="userInfo.hobbies" value="game"> game <input type="checkbox" v-model="userInfo.hobbies" value="dinner">dinner
            <br>
            <br>
            address:
            <select v-model="userInfo.address">
                <option value="bj">Beijing</option>
                <option value="sh">Shanghai</option>
                <option value="gz">Guangzhou</option>
            </select>
            <br>
            <br>
            others:
            <textarea v-model.lazy="userInfo.other"></textarea>
            <br>
            <br>
            <input type="checkbox" v-model="userInfo.accept">accept <a href="#">protocol</a>
            <br>
            <br>
            <button>submit</button> 
        </form>






    </div>
</body>
<script>
    new Vue({
        el:'#root',
        data:{
            userInfo:{
                account:'',
                password:'',
                age:18,
                gender:'male',
                hobbies:[],
                address:'',
                other:'',
                accept:true
            }
        },
        methods:{
            demo:function(){
                console.log(JSON.stringify(this.userInfo));
                console.log(this.userInfo);
            }
        }
    })
</script>

</html>